<p>error-page works!</p>

<ul>
    <li>
        <a routerLink="/auth/login">Sign in</a>
    </li>
    <li>
        <a routerLink="/auth/register">Sign up</a>
    </li>
    <li>
        <a routerLink="/heros/list">heros/list</a>
    </li>
    <li>
        <a routerLink="/heros/add">heros/add</a>
    </li>
    <li>
        <a routerLink="/heros/edit/1">heros/edit/1</a>
    </li>
    <li>
        <a routerLink="/heros/search">heros/search</a>
    </li>
    <li>
        <a routerLink="/heros/1">heros/1</a>
    </li>
</ul>

